@import url("https://fonts.googleapis.com/css?family=Noto Sans:300,400,500,700,800&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans", sans-serif;
  --color-darkbg: #0b1a27;
  --color-lightbg: #1d3a5c;
}
